.footer {
  padding: 60px 0;
  background-color: #2f303a;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.secondary-footer-section {
  flex-grow: 1;
}

.addres-item {
  list-style-type: none;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.boxes-address .address-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--two-accent-color);
  }
}

// Присоединяйтесь в соц сетях

.join {
  color: var(--background-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-icon {
  fill: var(--background-primary);
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

// Форма в футере

.footer-form {
  margin-left: 93px;
}

.footer-form-head {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--two-accent-color);
}
.footer-form-field {
  display: inline-block;
  margin-right: 12px;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--accent-color);
}

.footer-form-icon {
  margin-left: 10px;
}

.footer-form-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--two-accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
