.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: var(--two-accent-color);
}

.hero-text {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--two-accent-color);
  margin-bottom: 30px;
}

.hero-button {
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  border: 2px solid #2196f3;

  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--two-accent-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}
