.team {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.team-section {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-color);
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
  letter-spacing: 0.03em;
}

.team-item {
  text-align: center;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-bottom: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

.item-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .social-icon,
  &:focus .social-icon {
    fill: var(--two-accent-color);
  }
}
