@import "../utils/colors";
@import "../utils/transition";

.footer-form {
	&__email-label {
		display: flex;
		flex-direction: column;
		width: 100%;

		font-weight: 700;
		line-height: 1.15;
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}

	&__email-input {
		padding: 14px 16px;
		margin-top: 20px;

		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;

		color: rgba(255, 255, 255, 0.6);
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 4px;
		background-color: inherit;
		&:hover,
		&:focus {
			outline: none;
			cursor: pointer;
			background-color: inherit;
		}
	}

	&__button-submit {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 50px;
		padding: 0;
		margin-top: 20px;
		margin-left: 12px;
	}

	&__submit-icon {
		margin-left: 10px;
	}
}
@media screen and (min-width: 768px) {
	.footer-form__email-label {
		width: 450px;
	}
}

@media screen and (min-width: 1200px) {
	.footer-form {
		&__email-label {
			width: 358px;
		}
		&__button-submit {
			margin-top: 0;
		}
	}
}
