.header-logo {
  margin-right: 93px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header-logo__accent {
  color: var(--accent-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--two-accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-logo-accent {
  color: var(--accent-color);
}
