@import "../utils/colors";
@import "../utils/transition";

@media screen and (min-width: 768px) {
	.nav {
		margin-left: 88px;
		&__list {
			display: flex;
		}

		&__item {
			position: relative;
			color: getColor("main-color");

			font-weight: 500;
			letter-spacing: 0.02em;

			&:not(:last-child) {
				margin-right: 50px;
			}
		}

		&__link {
			display: block;
			padding: 32px 0;
			color: inherit;
			transition: color getTransition("time-anime") getTransition("time-function");
			&::after {
				content: "";
				display: none;
				position: absolute;
				bottom: -1px;
				width: 100%;
				height: 4px;
				background-color: getColor("blue-color");
				border-radius: 2px;
			}
			&:hover,
			&:focus {
				color: getColor("blue-color");
			}
		}

		&__link--active {
			color: getColor("blue-color");
			&::after {
				display: block;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.nav {
		margin-left: 93px;
	}
}
