@import "../utils/colors";
@import "../utils/mixin";

.section-hero {
	padding: 118px 0;
	text-align: center;
	position: relative;
	background-image: linear-gradient(transparent, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/bg-image480px.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: getColor("revers-color");

	&__title {
		margin-bottom: 30px;

		font-weight: 900;
		font-size: 26px;
		line-height: 1.62;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
}
@include bgImg2x3x(480);

@media screen and (min-width: 768px) {
	.section-hero {
		background-image: linear-gradient(transparent, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/bg-image768px.jpg);
	}
	@include bgImg2x3x(768);
}

@media screen and (min-width: 1200px) {
	.section-hero {
		padding: 200px 0;
		background-image: linear-gradient(transparent, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/bg-image1600px.jpg);

		&__title {
			font-size: 44px;
			line-height: 1.38;
		}
	}
	@include bgImg2x3x(1600);
}
