@import "../utils/colors";
@import "../utils/transition";

.social {
	display: flex;
	align-items: center;
	&__item:not(:first-child) {
		margin-left: 10px;
	}
	&__link-icon {
		fill: #afb1b8;
		transition: fill getTransition("time-anime") getTransition("time-function");
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background-color: inherit;

		transition: background-color getTransition("time-anime") getTransition("time-function");
		&:hover,
		&:focus {
			background-color: getColor("button-bg-hf-color");
		}
		&:hover &-icon,
		&:focus &-icon {
			fill: #fff;
		}
	}

	&__link--bg-gray {
		background: rgba(255, 255, 255, 0.1);
	}

	&__link-icon--white-fill {
		fill: #fff;
	}
}
